@charset "UTF-8";
.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo__web {
  color: #2196f3;
}

.socials {
  display: flex;
  justify-content: space-between;
}

.socials__link {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__item:hover,
.socials__item:focus {
  background-color: #2196f3;
}

.socials__item:hover .socials__link,
.socials__item:focus .socials__link {
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, Raleway, sans-serif;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.menu__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.menu__link:hover,
.menu__link :focus {
  color: #2196f3;
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts__link:hover,
.contacts__link :focus {
  color: #2196f3;
}

.contacts__icon {
  fill: currentColor;
}

.menu__link.current {
  color: #2196f3;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  min-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(180deg, rgba(47, 48, 58, 0.064) 0%, rgba(47, 48, 58, 0) 100%), url(../images/b-g-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero__btn {
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
}

.features {
  padding: 94px 15px;
}

.features__list {
  display: flex;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
  letter-spacing: 0.03em;
}

.about {
  padding-bottom: 94px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 27px 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__wrap {
  padding: 30px 32px;
  background-color: #ffffff;
}

.team__name {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border-width: 1px;
  border-style: solid;
  border-color: #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover,
.clients__item :focus {
  border-color: #2196f3;
}

.clients__item:hover .clients__link,
.clients__item :focus .clients__link {
  color: #2196f3;
}

.clients__link {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-img {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
}

.page-footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__footer {
  color: #ffffff;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  display: flex;
  flex-direction: column;
}

.addres__text {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  font-style: normal;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.address__link {
  color: #afb1b8;
  font-style: normal;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link :focus {
  color: #2196f3;
}

.page-footer__socials {
  display: inline-block;
  padding-top: 12px;
  margin-left: 70px;
}

.socials__title {
  display: inline-flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer .socials__item:last-child {
  margin-right: 0;
}

.page-footer .socials__item {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .socials__item:last-child {
  margin-right: 0;
}

.page-footer .socials__link {
  color: #ffffff;
}

.page-footer .socials__icon {
  fill: currentColor;
}

.page-footer .socials__item:hover,
.page-footer .socials__item:focus {
  background-color: #2196f3;
}

.subscribe {
  display: inline-block;
  padding-top: 12px;
  margin-left: 93px;
}

.subscribe__wrap {
  display: flex;
  justify-content: center;
}

.subscribe__input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: var(--bgc-hero-footer);
  filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 4px 4px);
  padding: 15px 0px 15px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe__btn::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/icon-send.svg);
}

/* ==МОДАЛЬНОЕ ОКНО== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 528px;
  max-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  border-radius: 50%;
  color: var(--logo-text-color);
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover,
.modal__btn :focus,
.modal__btn :active {
  color: #2196f3;
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-5px, 5px);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__label {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 40px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus,
.form__textarea:focus {
  border: 1px solid #2196f3;
}

.form__input:focus ~ .form__icon {
  color: #2196f3;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-30%);
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 12px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  margin-bottom: 30px;
  padding: 0 10px;
}

.policy__input {
  appearance: none;
}

.policy__label {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.policy__label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 3px;
}

.policy__input:checked + .policy__label::before {
  background-image: url(../images/icon-checked.svg);
  background-color: #2196f3;
  outline: none;
  border: none;
  background-origin: border-box;
  background-size: contain;
}

.policy__link {
  color: #2196f3;
  margin-left: 2px;
}

.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn__list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.btn__item:not(:first-child) {
  margin-left: 8px;
}

.btn__text {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__text:hover,
.btn__text :focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.gallery__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.gallery__item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__overlay {
  overflow: hidden;
}

.gallery__item:hover .gallery__overlay--wrap,
.gallery__item:focus .gallery__overlay--wrap {
  transform: translateY(0);
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
}

.gallery__text {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  letter-spacing: 0.03em;
}

.gallery__thumb {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.gallery__overlay {
  position: relative;
  height: 294px;
}

.gallery__overlay--wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.gallery__overlay--text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */