.socials {
  display: flex;
  justify-content: center;
}

.socials__link {
  color: $clients-color;
  transition: color $animation-time $animation-dir,
    background-color $animation-time $animation-dir;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link:hover,
.socials__link:focus {
  background-color: $accent-color;
  color: $white-color;
}

.socials__icon {
  fill: currentColor;
  transition: fill $animation-time $animation-dir;
}
