// * TEAM

.team {
  background-color: $bgc-secondary;
}

.team__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  @include title;
  margin-bottom: 50px;
}

.team__list {
  //   display: flex;

  @media screen and (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 767px) {
    margin-top: 30px;
    margin-left: 30px;

    flex-basis: calc(100% / 2 - 30px);

    &:not(:last-child) {
      margin-bottom: unset;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.team__img {
  width: 100%;
}

.team__wrap {
  padding: 30px 0 24px;
  background-color: $white-color;
}

.team__name {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;

  letter-spacing: 0.03em;

  color: $text-color-primary;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  margin-bottom: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color-secondary;
}
