$text-color-primary: #212121;
$text-color-secondary: #757575;
$accent-color: #2196f3;
$logo-color: #000000;
$white-color: #ffffff;
$bgc-footer: #2f303a;
$bgc-secondary: #f5f4fa;
$clients-color: #afb1b8;


$card-set-gap: 30px;

$animation-time: 250ms;
$animation-dir: cubic-bezier(0.4, 0, 0.2, 1);